[submodule "src/GameUI"]
	path = src/GameUI
	url = C:/Users/artsj_000/Documents/Trabalhos/Games/gameui
	branch = master
[submodule "src/ServicesJS"]
	path = src/ServicesJS
	url = C:/Users/artsj_000/Documents/Trabalhos/Games/GameServicesJS
	branch = master
