[submodule "src/GameUI"]
	path = src/GameUI
	url = https://github.com/artsjedi/GameUI.git
	branch = master
[submodule "src/ServicesJS"]
	path = src/ServicesJS
	url = https://github.com/artsjedi/CocoonServicesJS.git
	branch = master
